.outer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnBack,
.pageNum {
  color: rgb(84, 24, 24);
  position: absolute;
}
.btnBack {
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 20px 0;
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  top: 10%;
  transform: translate(0, -10%);
}
.pageNum {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
}
